pico/build/
pro-mini/build/
pico/credentials.conf

docs/Arduino_Pro_Mini_Pinout_Diagram.pdf
docs/ATmega48A-PA-88A-PA-168A-PA-328-P-DS-DS40002061A.pdf
docs/bst-bme280-ds002.pdf
docs/bst-bme280-hs006.pdf
docs/bst-bmp280-ds001.pdf
docs/mh-z19c-pins&terminal-type-co2-manual(ver1_2).pdf
docs/Digiten quick connect flow sensor.txt
docs/Screenshot 2026-05-14 at 16-50-38 DIGITEN G1_4 Quick Connect Hall Effect Sensor Water Flow Sensor datasheet - Google Search.png
